* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #ff9a4b;
    height: 50px;
}

main {
    display: flex;
    justify-content: center;
    padding: 50px 0;
    margin: 0 auto;
    width: 960px;
}

.box {
    display: inline-block;
    background-color: #eeeeee;
    width: 300px;
    padding: 10px 10px;
    position: relative;
    top: 0;
    left: 0;
}

.box:nth-child(1),
.box:nth-child(2) {
    margin-right: 30px;
}

.step {
    display: inline-block;
    color: #ffffff;
    background-color: #ff9a4b;
    position: relative;
    top: -10px;
    left: -10px;
}

.img {
    height: 150px;
    margin-bottom: 15px;
    background-size: cover;
    background-position: bottom;
}

.box:nth-child(1) .img {
    background-image: url(img/flow01.png);
}

.box:nth-child(2) .img {
    background-image: url(img/flow02.png);
}

.box:nth-child(3) .img {
    background-image: url(img/flow03.png);
}

h3 {
    margin-bottom: 5px;
}

footer {
    background-color: #aaaaaa;
    height: 50px;
}

@media screen and (max-width:768px) {
    main {
        width: 100%;
        flex-wrap: wrap;
    }

    .box:nth-child(1), .box:nth-child(2) {
        margin: 0 0 20px;
    }

    .box {
        width: 90%;
    }
}